<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Alberto Fernández; aquí le pueden observar en una foto "muy poco preparada" :).
</p>

<p>
   Pueden encontrar todo el proyecto en mi github: <a href="https://github.com/afibeto/quiz">afibeto </a>
</p>

<img src="/images/autor.jpg" />

