<h1>Ayuda</h1>

<p>
    Este portal es una plataforma que destinada a fines recreativos.

Consiste en un sistema que muestra preguntas de intersé a las que el usuario podrá responder.

El objetivo es conseguir el mxáimo numero de respuestas correctas posible.


</p>

